<footer class="footer">
    <div class="store-footer footer-section">
        <h3 class="h3-footer">Tienda</h3>
        <ul class="list-footer">
            <li class="list-footer-element"><a href="https://adalab.es/" target="_blank" class="list">Productos</a></li>
            <li class="list-footer-element"><a href="https://adalab.es/" target="_blank" class="list">Cajoneras</a></li>
            <li class="list-footer-element"><a href="https://adalab.es/" target="_blank" class="list">Para toda la
                    casa</a>
            </li>
            <li class="list-footer-element"><a href="https://adalab.es/" target="_blank" class="list">Habitaciones</a>
            </li>
        </ul>
    </div>
    <div class="footer-section">
        <h3 class="h3-footer">Nosotros</h3>
        <ul class="list-footer">
            <li class="list-footer-element"><a href="https://adalab.es/" target="_blank" class="list">Nuestra
                    guía</a></li>
            <li class="list-footer-element"><a href="https://adalab.es/" target="_blank" class="list">Nuestro diseño</a>
            </li>
            <li class="list-footer-element"><a href="https://adalab.es/" target="_blank" class="list">Nuestra
                    historia</a>
            </li>
            <li class="list-footer-element"><a href="https://adalab.es/" target="_blank" class="list">Ayuda</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h3 class="h3-footer">Contacto</h3>
        <ul class="list-footer">
            <li class="list-footer-element">ayuda@openspaces.com</li>
            <li class="list-footer-element">Socios</li>
        </ul>
    </div>
    <div class="footer-section">
        <a href="https://adalab.es/" target="_blank"><i
                class="fa-brands fa-linkedin-in icono-footer-section icono-footer"></i></a>
        <a href="https://adalab.es/" target="_blank"><i
                class="fa-brands fa-instagram icono-footer-section icono-footer"></i></a>
        <a href="https://adalab.es/" target="_blank"><i
                class="fa-brands fa-twitter icono-footer-section icono-footer"></i></a>
    </div>
    <div class="arrow-footer-section">
        <a href="index.html#header"><i class="fa-solid fa-arrow-up arrow-footer"></i></i></a>
    </div>
</footer>