<header class="header" id="header">
    <div class="container">
        <a href="https://adalab.es/" target="_blank" class="hamburger-menu">
            <i class="fa-solid fa-bars" title="Navegar en la Web de Adalab">
            </i>
        </a>
        <div>
            <img src="./assets/images/logo.png" alt="logo" class="logo">
        </div>
    </div>
    <h1 class="tittle">Disfruta creando espacios</h1>
    <div class="buy-now-container">
        <button class="buy-now">comprar ahora</button>
    </div>
</header>