<main class="main">
    <div class="h2-main-container">
        <h2 class="h2-main">volverse organizado se siente mejor con <span class="open-spaces">open spaces</span></h2>
    </div>
    <div class="icon-1-container">
        <img src="./assets/images/icon_1.png" alt="icon-1">
        <h3 class="h3-main">lo que necesitas</h3>
        <p class="paragraph-main">una línea de productos diseñados para todos tus espacios</p>
    </div>
    <div>
        <img src="./assets/images/icon_2.png" alt="icon-2">
        <h3 class="h3-main">materias primas sustentables</h3>
        <p class="paragraph-main">todos los productos con materias primas sustentables</p>
    </div>
    <div>
        <img src="./assets/images/icon_3.png" alt="icon-3">
        <h3 class="h3-main">guía</h3>
        <p class="paragraph-main">soporte y asesoramiento para ayudarte con tu objetivo</p>
    </div>
</main>