$primary-color: #0c474b;
$secondary-color: #fff;
$primary-background: #f0ebe5;
$secondary-background: #ff975a;
$extra-small-font:14px;
$small-font: 16px;
$medium-font: 20px;
$large-font: 24px;
$tablet: 900px;
$desktop: 1728px;
$font-family-primary: 'Poppins', sans-serif;
