html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  scroll-behavior: smooth; }

.header {
  height: 389px;
  display: flex;
  flex-direction: column;
  background-image: url("../images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  padding-top: 20px;
  font-family: "Poppins", sans-serif; }
  @media all and (min-width: 900px) {
    .header {
      height: 822px;
      background-position: right; } }
  .header .navigation-menu {
    display: none;
    top: 70px;
    position: fixed;
    margin-left: 350px; }
    @media all and (min-width: 1728px) {
      .header .navigation-menu {
        display: flex; } }
    .header .navigation-menu .navigation-menu-list {
      display: flex; }
      .header .navigation-menu .navigation-menu-list .navigation-menu-list-element {
        margin-right: 24px;
        color: #0c474b; }
        .header .navigation-menu .navigation-menu-list .navigation-menu-list-element::first-letter {
          text-transform: capitalize; }
  .header .container {
    display: flex;
    justify-content: center; }
    @media all and (min-width: 1728px) {
      .header .container {
        padding-left: 350px;
        margin-right: 150px; } }
    .header .container .hamburger-menu {
      position: fixed;
      top: 55px;
      left: 33px;
      color: #0c474b; }
      @media all and (min-width: 1728px) {
        .header .container .hamburger-menu {
          display: none; } }
  .header .tittle {
    color: #0c474b;
    font-size: 24px;
    text-align: center;
    margin-bottom: 62px;
    margin-top: 62px;
    font-weight: 600; }
    @media all and (min-width: 900px) {
      .header .tittle {
        text-align: left;
        margin-left: 147px;
        font-size: 36px;
        margin-top: 270px;
        margin-bottom: 25px;
        max-width: 400px;
        line-height: 44px;
        font-weight: 600; } }
    @media all and (min-width: 1728px) {
      .header .tittle {
        margin-left: 350px;
        margin-top: 170px; } }
  .header .buy-now-container {
    display: flex;
    justify-content: center; }
    @media all and (min-width: 900px) {
      .header .buy-now-container {
        margin-left: 147px;
        justify-content: start; } }
    @media all and (min-width: 1728px) {
      .header .buy-now-container {
        margin-left: 350px; } }
    .header .buy-now-container .buy-now {
      width: 176px;
      height: 48px;
      border: none;
      background-color: #0c474b;
      color: #fff;
      font-size: 16px;
      text-transform: capitalize; }
      .header .buy-now-container .buy-now:hover {
        opacity: 0.7;
        cursor: pointer; }

.main {
  background-color: #f0ebe5;
  font-family: "Poppins", sans-serif;
  color: #0c474b;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 136px 322px 322px 250px;
  text-align: center;
  padding: 41px 47px 18px 45px; }
  @media all and (min-width: 900px) {
    .main {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 120px 350px; } }
  .main .h2-main-container {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    color: #0c474b;
    font-weight: 600;
    line-height: normal; }
    @media all and (min-width: 900px) {
      .main .h2-main-container {
        grid-column-start: 1;
        grid-column-end: 4; } }
    .main .h2-main-container .h2-main::first-letter {
      text-transform: uppercase; }
    .main .h2-main-container .h2-main .open-spaces {
      text-transform: uppercase; }
    @media all and (min-width: 900px) {
      .main .h2-main-container .h2-main {
        max-width: 550px;
        margin: auto; } }
  .main .h3-main {
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    max-width: 205px;
    margin-left: auto;
    margin-right: auto; }
    .main .h3-main::first-letter {
      text-transform: uppercase; }
  .main .paragraph-main {
    font-size: 16px;
    max-width: 205px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    line-height: normal; }
    .main .paragraph-main::first-letter {
      text-transform: uppercase; }

.section-1 {
  height: 352px;
  background-color: #ff975a;
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-align: center; }
  .section-1 .icon-4 {
    padding-top: 40px; }
  .section-1 .h2-section-1 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px; }
    .section-1 .h2-section-1::first-letter {
      text-transform: uppercase; }
  .section-1 .paragraph-section-1 {
    font-size: 14px;
    margin-top: 20px; }
    .section-1 .paragraph-section-1::first-letter {
      text-transform: uppercase; }
  .section-1 .h3-section-1 {
    font-size: 16px;
    color: #fff;
    -webkit-text-decoration-color: white;
    text-decoration-color: white;
    margin-top: 30px; }
    .section-1 .h3-section-1::first-letter {
      text-transform: uppercase; }
  .section-1 .link-section-1 {
    -webkit-text-decoration-color: white;
    text-decoration-color: white; }

.section-2 {
  background-color: #f0ebe5;
  font-family: "Poppins", sans-serif;
  color: #0c474b;
  text-align: center; }
  @media all and (min-width: 1728px) {
    .section-2 {
      display: flex;
      text-align: left; } }
  .section-2 .container-enjoy {
    padding-bottom: 90px;
    padding-top: 90px; }
    @media all and (min-width: 1728px) {
      .section-2 .container-enjoy {
        width: 50%; } }
  .section-2 .h2-section-2 {
    font-size: 24px;
    font-weight: 600; }
    @media all and (min-width: 1728px) {
      .section-2 .h2-section-2 {
        margin-left: 280px;
        max-width: 250px;
        line-height: 36px; } }
    .section-2 .h2-section-2::first-letter {
      text-transform: uppercase; }
  .section-2 .paragraph-section-2 {
    font-size: 14px;
    max-width: 345px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px; }
    @media all and (min-width: 1728px) {
      .section-2 .paragraph-section-2 {
        margin-left: 280px;
        max-width: 250px;
        margin-top: 5px; } }
    .section-2 .paragraph-section-2::first-letter {
      text-transform: uppercase; }
  .section-2 .button-section-2 {
    width: 176px;
    height: 48px;
    border: none;
    background-color: #0c474b;
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    margin-top: 28px; }
    @media all and (min-width: 1728px) {
      .section-2 .button-section-2 {
        margin-left: 280px;
        margin-top: 20px; } }
    .section-2 .button-section-2:hover {
      opacity: 0.7;
      cursor: pointer; }
  .section-2 .container-photo {
    height: 304px;
    background-image: url("../images/creando-espacios.jpg");
    background-size: cover;
    background-position: center; }
    @media all and (min-width: 1728px) {
      .section-2 .container-photo {
        width: 50%;
        height: auto; } }

.section-3 {
  width: 100%;
  background-color: #ff975a;
  color: #fff;
  display: none; }
  @media all and (min-width: 900px) {
    .section-3 {
      display: grid;
      grid-template-columns: 1fr 1fr; }
      .section-3 .h2-tittle {
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;
        margin-bottom: 10px; } }

.footer {
  background-color: #0c474b;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px; }
  @media all and (min-width: 900px) {
    .footer {
      flex-direction: row;
      justify-content: space-evenly; } }
  .footer .footer-section {
    width: 130px; }
    .footer .footer-section .h3-footer {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
      color: #b6c8c9; }
    .footer .footer-section .list-footer {
      margin-bottom: 20px; }
      .footer .footer-section .list-footer .list-footer-element {
        margin-bottom: 5px;
        font-weight: 100; }
    .footer .footer-section .list {
      color: #b6c8c9;
      text-decoration: none; }
  .footer .arrow-footer-section {
    position: absolute;
    bottom: 30px;
    right: 30px; }
    @media all and (min-width: 900px) {
      .footer .arrow-footer-section {
        bottom: 63px;
        right: 57px; } }
    @media all and (min-width: 1728px) {
      .footer .arrow-footer-section {
        right: 150px; } }
    .footer .arrow-footer-section .arrow-footer {
      color: #fff; }
  .footer .footer-section .icono-footer-section {
    color: #fff; }
  .footer .footer-section .icono-footer {
    margin-right: 11px; }

/*# sourceMappingURL=main.css.map */
