* {
  scroll-behavior: smooth ;
}

.header{
    height: 389px;
    display: flex;
    flex-direction: column;
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    padding-top: 20px;
    font-family: $font-family-primary;

    @media all and (min-width: $tablet){
      height: 822px;
      background-position: right;
    }

    .navigation-menu{
      display: none;
      top: 70px;
      position: fixed;
      margin-left: 350px;

      @media all and (min-width: $desktop){
        display: flex;
      }

      .navigation-menu-list{
        display: flex;

        .navigation-menu-list-element{
          margin-right: 24px;
          color: $primary-color;

          &::first-letter{
            text-transform: capitalize;
          }
        }
      }
    }

    .container{
      display: flex;
      justify-content: center;

      @media all and (min-width: $desktop){
        padding-left: 350px;
        margin-right: 150px;
      }

      .hamburger-menu{
        position: fixed;
        top: 55px;
        left: 33px;
        color: $primary-color;

        @media all and (min-width: $desktop){
          display: none;
        }
      } 
    }

    .tittle{
      color: $primary-color;
      font-size: $large-font;
      text-align: center;
      margin-bottom: 62px;
      margin-top: 62px;
      font-weight: 600;

      @media all and (min-width: $tablet){
        text-align: left;
        margin-left: 147px;
        font-size: 36px;
        margin-top: 270px;
        margin-bottom: 25px;
        max-width: 400px;
        line-height: 44px;
        font-weight: 600;
      }

      @media all and (min-width: $desktop){
        margin-left: 350px;
        margin-top: 170px;
      }
    }

    .buy-now-container{
      display: flex;
      justify-content: center;

      @media all and (min-width: $tablet){
        margin-left: 147px;
        justify-content: start;
      }

      @media all and (min-width: $desktop){
        margin-left: 350px;
      }

      .buy-now{
        width: 176px;
        height: 48px;
        border: none;
        background-color: $primary-color;
        color: $secondary-color;
        font-size: $small-font;
        text-transform:capitalize;
        &:hover{
          opacity: 0.7;
          cursor: pointer;
         }
      }
    }    
}

