.main{
    background-color: $primary-background;
    font-family: $font-family-primary;
    color: $primary-color;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:136px 322px 322px 250px;
    text-align: center;
    padding: 41px 47px 18px 45px;
    @media all and (min-width: $tablet){
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 120px 350px;
    }
    
    .h2-main-container{
      font-family: $font-family-primary;
      font-size: $large-font;
      color: $primary-color;
      font-weight: 600;
      line-height: normal;

      @media all and (min-width: $tablet){
        grid-column-start: 1;
        grid-column-end: 4;
      }

      .h2-main{
        &::first-letter{
          text-transform: uppercase;
        }

        .open-spaces{
          text-transform: uppercase;
        }

        @media all and (min-width: $tablet){
          max-width: 550px;
          margin: auto;
        }
      }
    }

    .h3-main{
      font-size: $medium-font;
      font-weight: 600;
      margin-top: 30px;
      max-width: 205px;
      margin-left: auto;
      margin-right: auto;
      &::first-letter{
        text-transform: uppercase;
      }
    }
    
    .paragraph-main{
      font-size: $small-font;
      max-width: 205px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      line-height: normal;
      &::first-letter{
        text-transform: uppercase;
      }
    }
  }