.section-1 {
  height: 352px;
  background-color: $secondary-background;
  font-family: $font-family-primary;
  color: $secondary-color;
  text-align: center;

  .icon-4 {
    padding-top: 40px;
  }

  .h2-section-1 {
    font-size: $large-font;
    font-weight: 600;
    margin-top: 10px;
    &::first-letter {
      text-transform: uppercase;
    }
  }

  .paragraph-section-1 {
    font-size: $extra-small-font;
    margin-top: 20px;
    &::first-letter {
      text-transform: uppercase;
    }
  }

  .h3-section-1 {
    font-size: $small-font;
    color: $secondary-color;
    text-decoration-color: white;
    margin-top: 30px;
    &::first-letter {
      text-transform: uppercase;
    }
  }

  .link-section-1 {
    text-decoration-color: white;
  }
}
